<div class="grid">
  <div class="col-8">
    <ng-container *ngIf="user$ | async as user">
      <p-card class="block mb-5">
        <div class="flex">
          <p-avatar
            [image]="user.photoURL"
            [label]="user.displayName?.charAt(0)"
            [style]="{ width: '160px', height: '160px', fontSize: '4rem', fontWeight: '300' }"
            styleClass="bg-gray-50"
            class="mr-5"
          ></p-avatar>
          <div class="">
            <h2 class="flex align-items-center mb-2 mt-2">
              {{ user.displayName }}
              <app-svg-icon *ngIf="user.emailVerified" icon="verified" size="lg" class="ml-2 text-primary"></app-svg-icon>
            </h2>
            <div class="d-flex flex-wrap fw-semibold fs-6 mb-4">
              <a href="#" class="d-flex align-items-center text-gray-400 text-hover-primary mb-2">
                <app-svg-icon icon="email" size="sm"></app-svg-icon>
                {{ user.email }}
              </a>
            </div>
            <div class="flex">
              <div class="border border-gray-300 border-dashed border-round py-3 px-4 mr-4 mb-3" style="min-width: 145px">
                <div class="flex align-items-center">
                  <app-svg-icon icon="long-arrow-up" size="sm" class="text-success mr-2"></app-svg-icon>
                  <div class="text-2xl font-semibold">$4,500</div>
                </div>
                <div class="font-medium text-lg text-gray-400 mt-1">Earnings</div>
              </div>
              <div class="border border-gray-300 border-dashed border-round py-3 px-4 mr-4 mb-3" style="min-width: 145px">
                <div class="flex align-items-center">
                  <app-svg-icon icon="long-arrow-up" size="sm" class="text-success mr-2"></app-svg-icon>
                  <div class="text-2xl font-semibold">$4,500</div>
                </div>
                <div class="font-medium text-lg text-gray-400 mt-1">Earnings</div>
              </div>
              <div class="border border-gray-300 border-dashed border-round py-3 px-4 mr-4 mb-3" style="min-width: 145px">
                <div class="flex align-items-center">
                  <app-svg-icon icon="long-arrow-up" size="sm" class="text-success mr-2"></app-svg-icon>
                  <div class="text-2xl font-semibold">$4,500</div>
                </div>
                <div class="font-medium text-lg text-gray-400 mt-1">Earnings</div>
              </div>
            </div>
          </div>
        </div>
      </p-card>

      <p-card>
        <ng-template pTemplate="header">
          <h3 class="card-title">
            <span class="card-label">Profile Details</span>
          </h3>
        </ng-template>

        <form>
          <div class="grid mb-3">
            <div class="col-4 flex align-items-center">
              <label class="form-label">Fullname</label>
            </div>
            <div class="col-8">
              <div class="grid">
                <div class="col-6">
                  <div class="form-control form-control-lg">
                    <input
                      pInputText
                      type="text"
                      aria-describedby="firstname"
                    />
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-control form-control-lg">
                    <input
                      pInputText
                      type="text"
                      aria-describedby="lastname"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="grid mb-3">
            <div class="col-4 flex align-items-center">
              <label class="form-label">Email</label>
            </div>
            <div class="col-8">
              <div class="form-control form-control-lg">
                <input
                  pInputText
                  type="text"
                  aria-describedby="email"
                />
              </div>
            </div>
          </div>

          <div class="grid mb-3">
            <div class="col-4 flex align-items-center">
              <label class="form-label">Contact phone</label>
            </div>
            <div class="col-8">
              <div class="form-control form-control-lg">
                <input
                  pInputText
                  type="text"
                  aria-describedby="phone"
                />
              </div>
            </div>
          </div>

          <div class="flex justify-content-end">
            <button pButton type="button" class="btn-light mr-3">Discard</button>
            <button pButton type="button" class="btn-primary">Save Changes</button>
          </div>
        </form>
      </p-card>
    </ng-container>
  </div>
  <div class="col-4">
    <p-card class="block mb-5" styleClass="p-card-flush">
      <ng-template pTemplate="header">
        <h3 class="card-title">
          <span class="card-label">Change Password</span>
          <span class="card-subtitle">Reset your password</span>
        </h3>
      </ng-template>

      <div class="text-lg mb-5">You can reset your account password</div>

      <button pButton type="button" class="w-full btn-light btn-lg">Change Password</button>
    </p-card>

    <p-card styleClass="p-card-flush">
      <ng-template pTemplate="header">
        <h3 class="card-title">
          <span class="card-label">Close Account</span>
          <span class="card-subtitle">Delete or freeze your password</span>
        </h3>
      </ng-template>

      <div class="text-lg mb-5">You can permanently delete or temporarily freeze your account</div>

      <button pButton type="button" class="w-full btn-light btn-lg">Close Account</button>
    </p-card>
  </div>
</div>
