//
// Form Control
//

@mixin form-input-lg() {
  border-radius: 0.625rem;
  font-size: 1.15rem;
  padding: calc(#{$btn-padding-y-lg} + #{$btn-border-width}) calc(#{$btn-padding-x-lg} + #{$btn-border-width});
}


// Form control
.form-control {
  &.form-control-lg {
    font-size: 1.075rem;

    .form-label {
      font-weight: 600;
      margin-bottom: .75rem;
    }

    .p-inputtext {
      @include form-input-lg;
    }
  }
}

.p-inputtext {
  background-color: $input-solid-bg;
	box-shadow: none !important;
  border-color: $input-solid-bg;
  @include placeholder($input-solid-placeholder-color);
  color: $input-solid-color;
  transition: $transition-input;
  line-height: 1.5;
  font-weight: 500;

  &:enabled {
    &:hover {
      border-color: $input-solid-bg;
    }

    &:active,
    &.active,
    &:focus,
    &.focus {
      background-color: $input-solid-bg-focus;
      border-color: $input-solid-bg-focus;
      color: $input-solid-color;
      transition: $transition-input;
    }
  }

	// Readonly state
	&[readonly] {
		background-color: $input-readonly-bg;
	}

	// White style
	&.form-control-white {
		background-color: $body-bg;
		border-color: $body-bg;

		&:active,
		&.active,
		&:focus,
		&.focus {
			background-color: $body-bg;
			border-color: $body-bg;
		}
	}

	// Flush
	&.form-control-flush {
		@include input-reset();
	}

  &.p-inputtext-lg {
    @include form-input-lg;
  }

  &.p-inputtext-sm {
    padding: calc(#{$btn-padding-y-sm} + #{$btn-border-width}) calc(#{$btn-padding-x-sm} + #{$btn-border-width});
  }
}

// Placeholder colors
.placeholder-gray-500 {
	@include placeholder($gray-500);
}

.placeholder-white {
	@include placeholder($white);
}

// Textarea reset resize
.resize-none {
	resize: none;
}

.form-label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 1.05rem;
  font-weight: 500;
}
