<div class="register-card">
  <div class="text-center mb-6">
    <h1 class="mb-3">Create an Account</h1>
    <div class="text-gray-400 text-lg">
      Already have an account?
      <a [routerLink]="['../', AuthRoute.Login]" class="font-semibold">Sign in here</a>
    </div>
  </div>

  <p-messages class="block mb-5"></p-messages>

  <div class="grid">
    <div class="col-6">
      <button pButton (click)="onSignUpWithGoogle()" class="btn-light btn-lg w-full">
        <app-svg-icon icon="google"></app-svg-icon>
        Sign up with Google
      </button>
    </div>
    <div class="col-6">
      <button pButton (click)="onSignUpWithFacebook()" class="btn-light btn-lg w-full">
        <app-svg-icon icon="facebook"></app-svg-icon>
        Sign up with Facebook
      </button>
    </div>
  </div>

  <p-divider align="center" class="col-12">OR</p-divider>

  <form [formGroup]="form" autocomplete="off">
    <div class="grid">

      <div class="col-6">
        <div class="form-control form-control-lg mb-3">
          <label class="form-label">Firstname</label>
          <input
            pInputText
            formControlName="firstname"
            type="text"
            aria-describedby="firstname"
          />
          <app-error [control]="form.controls.firstname" field="Firstname"></app-error>
        </div>
      </div>

      <div class="col-6">
        <div class="form-control form-control-lg mb-3">
          <label class="form-label">Lastname</label>
          <input
            pInputText
            formControlName="lastname"
            type="text"
            aria-describedby="lastname"
          />
          <app-error [control]="form.controls.lastname" field="Lastname"></app-error>
        </div>
      </div>

      <div class="col-12">
        <div class="form-control form-control-lg mb-3">
          <label class="form-label">Email</label>
          <input
            pInputText
            formControlName="email"
            type="email"
            aria-describedby="email"
          />
          <app-error [control]="form.get('email')!" field="Email address"></app-error>
        </div>
      </div>

      <div class="col-12">
        <div class="form-control form-control-lg mb-3">
          <label class="form-label">Password</label>
          <p-password
            [feedback]="false"
            [toggleMask]="true"
            formControlName="password"
            aria-describedby="password"
            (onBlur)="form.controls.password.markAsTouched()"
          ></p-password>
          <app-error [control]="form.controls.password" field="Password"></app-error>
        </div>
      </div>

      <div class="col-12">
        <div class="form-control form-control-lg mb-4">
          <label class="form-label">Confirm Password</label>
          <input
            pPassword
            [feedback]="false"
            formControlName="confirmPassword"
            type="password"
            aria-describedby="password"
          />
          <app-error [control]="form.get('confirmPassword')!" field="Password confirmation"></app-error>
          <app-error [control]="form" field="password"></app-error>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button
        pButton
        [loading]="processing"
        [label]="processing ? 'Processing...' : 'Continue'"
        [iconPos]="'right'"
        (click)="onSubmit()"
        class="btn-lg btn-primary"
        type="submit"
      ></button>
    </div>
  </form>
</div>
