.svg-icon {
  vertical-align: middle;
  width: 22px;
  height: 22px;

  &.svg-icon-xs {
    width: 18px;
    height: 18px;
  }

  &.svg-icon-sm {
    width: 20px;
    height: 20px;
  }

  &.svg-icon-lg {
    width: 24px;
    height: 24px;
  }

  &.svg-icon-xl {
    width: 26px;
    height: 26px;
  }
}
