<div *ngIf="currentUser$ | async as user" class="login-card">
  <div class="text-center mb-6">
    <h1 class="mb-7">Verify Your Email</h1>
    <div class="text-gray-400 font-medium text-xl mb-6">
      We have sent an email to <span class="text-primary">{{ user.email }}</span>
      please follow a link to verify your email.
    </div>
    <a routerLink="/" pButton  type="button" class="p-button-lg mb-3">
      Go to the dashboard
    </a>
    <div class="text-gray-400 text-lg mt-5">
      <a (click)="onResendVerificationEmail(user)">Resend verification email</a>
    </div>
  </div>
</div>
