//
// Buttons Base
//

// Button
.p-button {
  background-color: transparent;
  border-color: transparent;
  line-height: 1.5;
	outline: none !important;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: $white;
  overflow: visible;

  &:enabled:hover {
    background-color: transparent;
    border-color: transparent;
    color: $gray-700;
  }

	// Reset focus shadow
	&:not(.btn-shadow):not(.shadow):not(.shadow-sm):not(.shadow-lg) {
		box-shadow: none !important;
	}

	// Remove border
	&:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon) {
		border: 0;
		padding: calc(#{$btn-padding-y} + #{$btn-border-width}) calc(#{$btn-padding-x} + #{$btn-border-width});

    &.btn-lg {
      padding: calc(#{$btn-padding-y-lg} + #{$btn-border-width}) calc(#{$btn-padding-x-lg} + #{$btn-border-width});

      .icon {
        max-height: 20px;
      }
    }

    &.btn-sm {
      padding: calc(#{$btn-padding-y-sm} + #{$btn-border-width}) calc(#{$btn-padding-x-sm} + #{$btn-border-width});

      .icon {
        max-height: 16px;
      }
    }
	}

	// Link
	&.btn-link {
		border: 0;
		border-radius: 0;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-decoration: none;
		font-weight: $btn-font-weight;
	}

	// Flush
	&.btn-flush {
		@include button-reset();
	}

	// Flex
	&.btn-flex {
		display: inline-flex;
		align-items: center;
	}

  &.btn-lg {
    font-size: 1.15rem;
  }

  &.btn-sm {
    padding: calc(#{$btn-padding-y-sm} + #{$btn-border-width}) calc(#{$btn-padding-x-sm} + #{$btn-border-width});
  }

  .p-button-label {
    font-weight: inherit;
    flex: 0 0 auto;
  }

  .p-button-loading-icon {
    border: .145em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-left: .5rem;
    color: currentColor;
    animation: .65s linear infinite spinner-border;
  }
}

// Icons
.p-button {
	// Font icon
	i {
		display: inline-flex;
		font-size: $font-size-base;
		padding-right: 0.35rem;
		vertical-align: middle;
		line-height: 0;
	}

	// Svg icon
	.svg-icon {
		flex-shrink: 0;
		line-height: 0;
		margin-right: 0.5rem;
	}

	// Icon only button
	&.btn-icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		height: calc($input-btn-border-width * 2  + $icon-font-size + $input-btn-padding-y * 2);
		width: calc($input-btn-border-width * 2  + $icon-font-size + $input-btn-padding-y * 2);

		// Remove border
		&:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush) {
			border: 0;
		}

		// Sizes
		&.btn-sm {
			height: $input-height-sm;
			width: $input-height-sm;
		}

		&.btn-lg {
			height: $input-height-lg;
			width: $input-height-lg;
		}

		&.btn-circle {
			border-radius: 50%;
		}

		i,
		.svg-icon {
			padding: 0;
			margin: 0;
			line-height: 1;
      max-height: 22px;
		}

    .p-button-label {
      display: none;
    }
	}
}

@keyframes spinner-border {
  100% {
    transform: rotate(360deg);
  }
}
