.transactions {
  margin: 0;
  padding: 0;
  list-style: none;
}

.transaction {
  display: flex;
  align-items: center;
  height: 40px;
  padding: .35rem 0;
}

.transaction-title {
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex-shrink: 0;
}

.transaction-description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 2rem;
}

.transaction-border {
  height: 100%;
  display: flex;
  width: 4px;
  border-radius: 4px;
  margin-right: 2rem;
  flex-shrink: 0;
}

.transaction-amount {
  width: 10%;
  font-size: 1.25rem;
  text-align: right;
  min-width: 100px;
}
