<div class="mb-5">
  <h3 class="mb-5">Today</h3>
  <ul class="transactions">
    <li class="transaction">
      <span data-kt-element="bullet" class="transaction-border bg-success"></span>
      <h3 class="transaction-title mb-0 mr-5">Some title</h3>
      <div class="transaction-description text-gray-500">Lorem ipsum dolor sit amet...</div>
      <p-tag severity="success" class="ml-auto mr-5">Food</p-tag>
      <span class="transaction-amount">1200 UAH</span>
    </li>

    <li class="transaction">
      <span data-kt-element="bullet" class="transaction-border bg-success"></span>
      <h3 class="transaction-title mb-0 mr-5">Some title</h3>
      <div class="transaction-description text-gray-500">Lorem ipsum dolor sit amet...</div>
      <p-tag severity="success" class="ml-auto mr-5">Food</p-tag>
      <span class="transaction-amount">1200 UAH</span>
    </li>

    <li class="transaction">
      <span data-kt-element="bullet" class="transaction-border bg-primary"></span>
      <h3 class="transaction-title mb-0 mr-5">Very loooooooooooooooooooong title</h3>
      <div class="transaction-description text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</div>
      <p-tag styleClass="p-tag-primary" class="ml-auto mr-5">Clothes</p-tag>
      <span class="transaction-amount">17000 UAH</span>
    </li>

    <li class="transaction">
      <span data-kt-element="bullet" class="transaction-border bg-warning"></span>
      <h3 class="transaction-title mb-0 mr-5">Another title</h3>
      <div class="transaction-description text-gray-500">Lorem ipsum dolor sit amet...</div>
      <p-tag severity="warning" class="ml-auto mr-5">Car</p-tag>
      <span class="transaction-amount">2650 UAH</span>
    </li>

    <li class="transaction">
      <span data-kt-element="bullet" class="transaction-border bg-success"></span>
      <h3 class="transaction-title mb-0 mr-5">Lorem Ipsum</h3>
      <div class="transaction-description text-gray-500">Lorem ipsum dolor sit amet...</div>
      <p-tag severity="success" class="ml-auto mr-5">Food</p-tag>
      <span class="transaction-amount">1200 UAH</span>
    </li>
  </ul>
</div>

<div class="mb-5">
  <h3 class="mb-5">Yesterday</h3>
  <ul class="transactions">
    <li class="transaction">
      <span data-kt-element="bullet" class="transaction-border bg-success"></span>
      <h3 class="transaction-title mb-0 mr-5">Some title</h3>
      <div class="transaction-description text-gray-500">Lorem ipsum dolor sit amet...</div>
      <p-tag severity="success" class="ml-auto mr-5">Food</p-tag>
      <span class="transaction-amount">1200 UAH</span>
    </li>

    <li class="transaction">
      <span data-kt-element="bullet" class="transaction-border bg-success"></span>
      <h3 class="transaction-title mb-0 mr-5">Some title</h3>
      <div class="transaction-description text-gray-500">Lorem ipsum dolor sit amet...</div>
      <p-tag severity="success" class="ml-auto mr-5">Food</p-tag>
      <span class="transaction-amount">1200 UAH</span>
    </li>

    <li class="transaction">
      <span data-kt-element="bullet" class="transaction-border bg-primary"></span>
      <h3 class="transaction-title mb-0 mr-5">Very loooooooooooooooooooong title</h3>
      <div class="transaction-description text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</div>
      <p-tag styleClass="p-tag-primary" class="ml-auto mr-5">Clothes</p-tag>
      <span class="transaction-amount">17000 UAH</span>
    </li>

    <li class="transaction">
      <span data-kt-element="bullet" class="transaction-border bg-warning"></span>
      <h3 class="transaction-title mb-0 mr-5">Another title</h3>
      <div class="transaction-description text-gray-500">Lorem ipsum dolor sit amet...</div>
      <p-tag severity="warning" class="ml-auto mr-5">Car</p-tag>
      <span class="transaction-amount">2650 UAH</span>
    </li>

    <li class="transaction">
      <span data-kt-element="bullet" class="transaction-border bg-success"></span>
      <h3 class="transaction-title mb-0 mr-5">Lorem Ipsum</h3>
      <div class="transaction-description text-gray-500">Lorem ipsum dolor sit amet...</div>
      <p-tag severity="success" class="ml-auto mr-5">Food</p-tag>
      <span class="transaction-amount">1200 UAH</span>
    </li>
  </ul>
</div>
