<p-card class="block mb-5" [styleClass]="styleClass">
  <ng-container *ngIf="isHeaderVisible">
    <ng-template pTemplate="header">
      <h3 *ngIf="title && subtitle" class="card-title">
        <span *ngIf="title" class="card-label">{{ title }}</span>
        <span *ngIf="subtitle" class="card-subtitle">Categories list & statistics</span>
      </h3>

      <div class="header-actions">
        <ng-content select="[header-actions]"></ng-content>
      </div>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="loaded">
    <ng-content></ng-content>
  </ng-container>

  <ng-container *ngIf="loading && !loaded">
    <p-skeleton styleClass="mb-3" height="2rem"></p-skeleton>
    <p-skeleton styleClass="mb-3" height="2rem"></p-skeleton>
    <p-skeleton styleClass="mb-3" height="2rem"></p-skeleton>
    <p-skeleton styleClass="mb-3" height="2rem"></p-skeleton>
    <p-skeleton width="45%" height="2rem"></p-skeleton>
  </ng-container>

  <ng-container *ngIf="!loading && !error">
    <ng-content select="[no-data]"></ng-content>
  </ng-container>

  <ng-container *ngIf="error">
    <ng-content select="[error]"></ng-content>
  </ng-container>
</p-card>
