<div class="login-card">
  <div class="text-center mb-6">
    <h1 class="mb-3">Sign in</h1>
    <div class="text-gray-400 text-lg">
      New here?
      <a [routerLink]="['../', AuthRoute.Register]" class="font-semibold">Create an Account</a>
    </div>
  </div>

  <p-messages class="block mb-5"></p-messages>

  <form [formGroup]="form">
    <div class="form-control form-control-lg mb-6">
      <label class="form-label">Email</label>
      <input
        pInputText
        formControlName="email"
        type="email"
        aria-describedby="email"
      />
      <app-error [control]="form.controls.email" field="Email address"></app-error>
    </div>

    <div class="form-control form-control-lg mb-6">
      <div class="flex align-items-center mb-2">
        <label class="form-label mb-0">Password</label>
        <a routerLink="/register" class="ml-auto font-semibold">Forgot password?</a>
      </div>
      <p-password
        [feedback]="false"
        [toggleMask]="true"
        formControlName="password"
        aria-describedby="password"
        (onBlur)="form.controls.password.markAsTouched()"
      ></p-password>
      <app-error [control]="form.controls.password" field="Password"></app-error>
    </div>

    <button
      pButton
      [loading]="processing"
      [label]="processing ? 'Processing...' : 'Continue'"
      [iconPos]="'right'"
      (click)="onSubmit()"
      class="w-full btn-primary btn-lg mb-3"
      type="submit"
    ></button>
  </form>

  <p-divider align="center" class="block mb-5">OR</p-divider>

  <button pButton (click)="onSignUpWithGoogle()" class="btn-light btn-lg w-full mb-3">
    <app-svg-icon icon="google"></app-svg-icon>
    Continue with Google
  </button>

  <button pButton (click)="onSignUpWithFacebook()" class="btn-light btn-lg w-full">
    <app-svg-icon icon="facebook"></app-svg-icon>
    Continue with Facebook
  </button>
</div>
