//
// Card
//

// Base
.p-card {
  @if ($card-border-enabled) {
    border: 1px solid $border-color;
  } @else {
    border: 0;
  }

  background-color: $body-bg;
  box-shadow: $card-box-shadow;
  color: $dark;

  // Header
  .p-card-header {
    border-bottom: 1px solid $card-border-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: $card-header-height;
    padding: 0 $card-px;
    background-color: transparent;

    // Title
    .card-title {
      display: flex;
      align-items: start;
      flex-direction: column;
      justify-content: center;
      margin: $card-header-py;
      margin-left: 0;

      &.flex-column {
        align-items: flex-start;
        justify-content: center;
      }

      .p-card-icon {
        margin-right: 0.75rem;
        line-height: 0;

        i {
          font-size: 1.25rem;
          color: $gray-600;
          line-height: 0;

          &:after,
          &:before {
            line-height: 0;
          }
        }
      }

      &,
      .card-label {
        font-weight: 600;
        font-size: 1.275rem;
        color: $dark;
      }

      .card-label {
        margin: 0 0.75rem 0 0;
        flex-wrap: wrap;
      }

      // Description
      small {
        color: $text-muted;
        font-size: 1rem;
      }

      // Headings
      h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
      }
    }

    .card-subtitle {
      font-weight: 500;
      font-size: 1.075rem;
      margin-top: 0.25rem;
      color: $gray-400;
    }

    // Toolbar
    .p-card-toolbar {
      display: flex;
      align-items: center;
      margin: $card-header-py 0;
      flex-wrap: wrap;
    }
  }

  // Body
  .p-card-body {
    padding: $card-py $card-px;
  }

  .p-card-content {
    padding: 0;
  }

  // Footer
  .p-card-footer {
    padding: $card-py $card-px;
    background-color: transparent;
  }

  // Scroll
  .p-card-scroll {
    position: relative;
    overflow: auto;
  }

  // Reset padding x
  &.p-card-px-0 {
    .p-card-header,
    .p-card-body,
    .p-card-footer {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.p-card-py-0 {
    .p-card-header,
    .p-card-body,
    .p-card-footer {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &.p-card-p-0 {
    .p-card-header,
    .p-card-body,
    .p-card-footer {
      padding: 0;
    }
  }

  // Dashed style
  &.p-card-dashed {
    box-shadow: none;
    border: 1px dashed $card-border-dashed-color;

    > .p-card-header {
      border-bottom: 1px dashed $card-border-dashed-color;
    }

    > .p-card-footer {
      border-top: 1px dashed $card-border-dashed-color;
    }
  }

  // Bordered style
  &.p-card-bordered {
    box-shadow: none;
    border: 1px solid $card-border-color;
  }

  // Flush borders
  &.p-card-flush {
    > .p-card-header {
      padding-top: $card-py;
      border-bottom: 0;
    }

    > .p-card-footer {
      border-top: 0;
    }
  }

  &.p-card-shadow {
    box-shadow: $card-box-shadow;
    border: 0;
  }

  &.p-card-loading {
    position: relative;
    user-select: none;
    pointer-events: none;

    &::before {
      content: '';
      background-color: rgba($white, .35);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      backdrop-filter: blur(3px);
    }

    &::after {
      content: '';
      border: .3em solid $gray-700;
      border-right-color: transparent;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -.75rem;
      margin-left: -.75rem;
      text-align: center;
      width: 1.25rem;
      height: 1.25rem;
      color: currentColor;
      animation: .65s linear infinite spinner-border;
      z-index: 101;
    }
  }
}

// Utilities
.p-card-p {
  padding: $card-py $card-px !important;
}

.p-card-px {
  padding-left: $card-px !important;
  padding-right: $card-px !important;
}

.p-card-shadow {
  box-shadow: $card-box-shadow;
}

.p-card-py {
  padding-top: $card-py !important;
  padding-bottom: $card-py !important;
}

.p-card-rounded {
  border-radius: $card-border-radius;
}

.p-card-rounded-start {
  border-top-left-radius: $card-border-radius;
  border-bottom-left-radius: $card-border-radius;
}

.p-card-rounded-end {
  border-top-right-radius: $card-border-radius;
  border-bottom-right-radius: $card-border-radius;
}

.p-card-rounded-top {
  border-top-left-radius: $card-border-radius;
  border-top-right-radius: $card-border-radius;
}

.p-card-rounded-bottom {
  border-bottom-left-radius: $card-border-radius;
  border-bottom-right-radius: $card-border-radius;
}
