.p-divider {
  display: flex;
  align-items: center;

  .p-divider-content {
    background-color: transparent;
    display: inline-block;
    color: $gray-400;
    font-size: .95rem;
  }

  &.p-divider-horizontal {
    padding: 0;

    &::before,
    &::after {
      content: '';
      border-top: 1px solid $gray-300;
      position: initial;
      display: inline-block;
      flex: 1 1 auto;
      width: auto;
    }
  }
}
