.p-steps {
  $pills-size: 40px;

  ul {
    display: flex;
  }

  // Item
  .p-steps-item {
    display: flex;
    align-items: center;
    transition: $transition-link;

    &::before {
      border: none;
      border-left: 1px dashed $gray-300;
      top: 0;
      left: 0;
      height: 100%;
      width: 1px;
      margin-top: 0;
    }

    &.p-disabled {
      opacity: 1;
    }

    .p-menuitem-link {
      &:not(.p-disabled):focus {
        box-shadow: none;
        border-radius: 0;
      }

      // Icon
      .p-steps-number {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $transition-link;
        width: $pills-size;
        height: $pills-size;
        border-radius: $border-radius;
        background-color: #f1faff;
        margin-right: 1.5rem;
        color: $primary !important;
        font-weight: $font-weight-bolder;
        font-size: 1.25rem;
      }

      // Label
      .p-steps-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $gray-800;
        font-weight: 600;
        font-size: 1.25rem;
        margin: 0;

        span {
          margin-top: .3rem;
          font-size: $font-size-base;
          color: $text-muted;
        }
      }
    }

    // Current
    &.p-steps-current {
      transition: $transition-link;

      .p-steps-number {
        transition: $transition-link;
        background-color: $primary;
        color: $white !important;
        font-size: 1.35rem;
      }

      .stepper-label {
        .stepper-title {
          color: $gray-600;
        }

        .stepper-desc {
          color: $gray-400;
        }
      }
    }

    // Completed
    &.p-steps-current:last-child {
      .p-steps-number {
        transition: $transition-link;
        background-color: $primary-light;

        .stepper-check {
          color: $primary !important;
          display: inline-block;
        }

        .stepper-number {
          display: none;
        }
      }

      .stepper-label {
        .stepper-title {
          color: $text-muted;
        }

        .stepper-desc {
          color: $gray-400;
        }
      }
    }
  }

  // Column
  &.p-steps-vertical {
    // Nav
    ul {
      flex-direction: column;
    }

    // Item
    .p-steps-item {
      position: relative;
      padding: 0;
      margin: 0;
      justify-content: flex-start;

      &:not(:last-child) {
        padding-bottom: 2.5rem;
      }

      &::before {
        left: 20px;
      }
    }

    .p-menuitem-link {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
    }

    // Icon
    .p-steps-number {
      z-index: 1;
    }
  }
}
