.page {
  background: url('/assets/images/auth-bg-dark.png') bottom center fixed no-repeat;
  background-size: contain;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;

  &__header {
    margin-bottom: 50px;
  }
}

.logo {
  display: block;
  height: 42px;

  &__img {
    height: 100%;
  }
}
