<div class="colors-grid">

  <ng-container *ngFor="let color of colors">
    <button
      pButton
      [ngClass]="['btn-bg-' + color, 'btn-active-' + color]"
      (click)="onSelectColor(color)"
      class="btn-icon color"
    >
      <span class="icon material-icons-outlined">{{ icon }}</span>
    </button>
  </ng-container>

</div>

<div class="flex justify-content-end">
  <button pButton cdkStepperPrevious class="btn-light mr-3">Previous</button>
  <button pButton cdkStepperNext class="btn-primary">Continue</button>
</div>

