<p-tabMenu [model]="items" styleClass="p-tabmenu-transparent p-tabmenu-fluid"></p-tabMenu>

<div class="py-3">
  <div *ngIf="!(accountsLoading$ | async) && (accountsLoaded$ | async) && (accounts$ | async) as accounts" class="flex flex-column">
    <div *ngFor="let account of accounts" class="surface-card shadow-1 border-round p-3 mb-3">
      <div class="mb-2">{{ account.name }}</div>
      <div class="font-medium text-3xl text-green-400">$20,000</div>
    </div>
  </div>

  <ng-container *ngIf="(accountsLoading$ | async) && !(accountsLoaded$ | async)">
    <div *ngFor="let item of [0, 1, 2, 3, 4]" class="surface-card shadow-1 border-round p-3 mb-3">
      <p-skeleton width="100%" height="1.5rem" class="block mb-2"></p-skeleton>
      <p-skeleton width="40%" height="2rem"></p-skeleton>
    </div>
  </ng-container>

  <app-data-placeholder
    *ngIf="!(accounts$ | async)?.length && !(accountsLoading$ | async) && !(accountsError$ | async)"
    icon="no-data"
    description="There are no accounts yet"
  >
    <button pButton class="btn-primary" (click)="onAddAccount()">Create new one</button>
  </app-data-placeholder>

  <app-data-placeholder
    *ngIf="accountsError$ | async"
    icon="no-data"
    description="Something went wrong!"
  >
    <button pButton class="btn-primary" (click)="loadAccounts()">Retry</button>
  </app-data-placeholder>

</div>
