<div class="grid">
  <div class="col-8">
    <app-data-card
      [title]="'Transactions'"
      [subtitle]="'Transactions list'"
      [loading]="transactionsLoading$ | async"
      [loaded]="transactionsLoaded$ | async"
      [error]="transactionsError$ | async"
      styleClass="p-card-flush"
    >
      <ng-container header-actions>
        <button pButton type="button" class="btn-sm btn-primary ml-3" (click)="onAddTransaction()">Add transaction</button>
      </ng-container>

      <app-transactions [transactions]="transactions$ | async"></app-transactions>

      <app-data-placeholder no-data icon="no-data" description="There are no transactions yet">
        <button pButton class="btn-primary" (click)="onAddTransaction()">Add new transaction</button>
      </app-data-placeholder>
    </app-data-card>
  </div>

  <div class="col-4">
    <app-data-card
      [title]="'Categories'"
      [subtitle]="'Categories list & statistics'"
      [loading]="categoriesLoading$ | async"
      [loaded]="categoriesLoaded$ | async"
      [error]="categoriesError$ | async"
      styleClass="p-card-flush"
    >
      <ng-container header-actions>
        <button pButton type="button" class="btn-sm btn-light btn-icon ml-3" (click)="popup.toggle($event)">
          <span class="material-icons-outlined">more_vert</span>
        </button>
        <p-menu #popup [popup]="true" [model]="menu"></p-menu>
      </ng-container>

      <app-categories
        [categories]="categories$ | async"
      ></app-categories>

      <app-data-placeholder no-data icon="no-data" description="There are no categories yet">
        <button pButton class="btn-primary" (click)="onAddCategory()">Create new one</button>
      </app-data-placeholder>
    </app-data-card>
  </div>
</div>
